@import url('https://fonts.googleapis.com/css?family=Raleway');

.truckForm {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  overflow: hidden;
}

.submitButton {
  margin: 1.5em;
}
